# ==========================#
# Docker config
# ==========================#
APP_NAME=ly-services
EXTERNAL_PORT=<port>
API_PORT=<port>
ENVIRONMENT=<env>
DOCKER_SUFFIX=<deploy | dev>

# ==========================#
# MongoDB URI
# ==========================#
MONGODB_URI=mongodb://<your_user_here>:<your_pass_here>@<mongodb_address_here>:<mongodb_port_if_applicable>
MONGODB_DB_NAME=<database_name_here>

# ==========================#
# Authentication Key
# ==========================#
JWT_SECRET=<your_secret_key>

# ==========================#
# Lytex Keys
# ==========================#
LYTEX_BASE_URL=<lytex_base_url>
LYTEX_CLIENT_ID=<your_client_id>
LYTEX_CLIENT_SECRET=<your_client_secret>
