# ==========================#
# Port for running application
# note: currently, this setting only affects development,
# since a proxy will intercept requests and distribute
# them via the Docker internal network.
# ==========================#
API_PORT=<port>

# ==========================#
# MongoDB URI
# ==========================#
MONGODB_URI=mongodb://<your_user_here>:<your_pass_here>@<mongodb_address_here>:<mongodb_port_if_applicable>

# ==========================#
# Authentication Key
# ==========================#
JWT_SECRET=<your_secret_key>

# ==========================#
# Lytex Keys
# ==========================#
LYTEX_CLIENT_ID=<your_client_id>
LYTEX_CLIENT_SECRET=<your_client_secret>
